html {
  font-family: 'Josefin Sans', sans-serif;
}

/*----------------------------------
  LANDING DIV STYLES
-----------------------------------*/
.landing-div {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(180deg, #FFD420, transparent 80%),
              linear-gradient(0deg, #D07B12, transparent 80%),
              url(img/kinkakuji-resized.jpg) no-repeat center;
  background-size: cover;
  height: 85%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-text {
  text-align: center;
  height: 30%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-text h1 {
  margin: 0 0 .5rem;
  letter-spacing: .75rem;
  font-size: 5rem;
}

.line {
  height: 3px;
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
}

.landing-text h3 {
  margin: .5rem 0 0;
  font-size: 3rem;
  letter-spacing: .25rem;
}

.landing-text ul {
  padding: 0;
  margin: 2rem 0 0;
  list-style-type: none;
  font-size: 2.25rem;
}

.landing-text li {
  display: inline-block;
  padding: 0 2rem;
}

.landing-text li:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.landing-text a {
  color: #fff;
  text-decoration: none;
}

.landing-text a:hover {
  text-decoration: underline;
}

.landing-text a:visited {
  color: #fff;
}

/*------------------------------
  NAVIGATION STYLES
-------------------------------*/

.top-nav {
  color: #fff;
  background: linear-gradient(black, gray);
  border-radius: 0;
  border: none;
}

.top-nav h1 {
  display: inline-block;
  float: left;
  margin: 2.7rem;
  letter-spacing: .25rem;
  font-size: 2.5rem;
}

.top-nav nav {
  display: inline-block;
  float: right;
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.75rem;
  letter-spacing: .25rem;
}

.top-nav li {
  display: inline-block;
  /*padding: 0 2rem;*/
}

.top-nav a {
  display: inline-block;
  padding: 2.8rem 2rem;
  color: #fff;
  text-decoration: none;
}

.top-nav a:hover {
  background: linear-gradient(#D07B12, #FFD420);
}

.top-nav a:visited {
  color: #fff;
}

/*-----------------------------------
  MAIN VIEW STYLES
------------------------------------*/
.main-view {
  min-height: calc(85vh - 70px);
}

/*------------------------------------
  FOOTER STYLES
-------------------------------------*/

.footer {
  color: #fff;
  background: linear-gradient(0deg, #D07B12, transparent 50%);
  border: none;
  height: 50px;
}

.footer p {
  display: inline-block;
  padding-top: 3rem;
  margin: 0;
}
